<!DOCTYPE html>
<html lang="en" ng-csp data-ng-csp>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Rainbird Agent</title>

    <link
      href="/components/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/components/angular/angular-csp.css" rel="stylesheet" />
    <link
      href="/components/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="/components/semantic-ui/dist/semantic.min.css"
      rel="stylesheet"
    />
    <link href="/dist/agent.min.css" rel="stylesheet" />

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/semantic-ui/dist/semantic.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div
      ng-app="rbAgent"
      ng-init="id='<%= id %>'; api='<%= api %>'; syncToken='<%= syncToken %>'; engine='<%= engine %>'; displayMode='<%= displayMode %>';"
      ng-strict-di
      ng-cloak
    >
      <div class="agent-wrapper" style="width: 100%">
        <ui-view> </ui-view>
      </div>
    </div>

    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-resource/angular-resource.min.js"></script>
    <script src="/components/ui-route/release/angular-ui-router.js"></script>
    <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/components/showdown/dist/showdown.min.js"></script>
    <script src="/components/ng-showdown/dist/ng-showdown.min.js"></script>
    <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/dist/angular-semantic-ui.min.js"></script>
    <script src="/dist/agent.min.js"></script>
  </body>
</html>
